.search-form {
    height: 40px;
    width: 580px;
    display: flex;
}

.search-form input {
    box-sizing: border-box;
    height: 56px;
    padding: 20px;
    flex: 1;
    background-color: rgb(198, 198, 198);
    color: rgb(87, 87, 87);
    border: none;
    transition: all .3s ease-in-out;
    font-size: 22px;
}

.search-form input:focus {
    background-color: rgb(3, 24, 131);
    outline: none;
    color: #fff;
}

.search-form button {
    width: 56px;
    height: 56px;
    background-color: rgb(3, 24, 131);
    border: none;
    color: #fff;
    font-size: 22px;
}